name: Run Perf Tests on Vercel Preview

on:
  repository_dispatch:
    types:
      - perf_test_trigger

jobs:
  hyperexecute-v1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download HyperExecute CLI
        run: |
          curl -L https://downloads.lambdatest.com/hyperexecute/linux/hyperexecute -o hyperexecute
          chmod +x hyperexecute

      - name: Run HyperExecute tests for v1
        run: |
          ./hyperexecute --user pranav.b --key LT_loIOEaM5ntMR5u5OI5mKvdVFO3sA7vy85ctQmPRGr5Tfdqx --config ./hyperexecute.yaml
